@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 100vh;
  background: #111116;
  overflow-x: hidden;
}

.translator-name {
  font-size: 1.9rem;
  color: #fff;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

.container {
  max-width: 1000px;
  width: 850px;
  background: #1c1c28;
  border-radius: 7px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #5e5e7a;
  border-radius: 10px;
}
  
.wrapper .controls {
  order: -1;
  padding-bottom: 15px;
}

.wrapper .text-input {
  display: flex;
}

.text-input {
  display: flex;
}

.text-input .to-text {
  border-radius: 8px;
}

.text-input textarea {
  height: 250px;
  width: 100%;
  outline: none;
  resize: none;
  background: #22222f;
  color: #fff;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #5e5e7a;
}

.text-input textarea::placeholder {
  color: #fff;
  
}

.controls, li, .icons, .icons i {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  list-style: none;
  padding: 12px 15px;
}

.controls .row .icons {
  width: 38%;
}

.controls .row .icons i {
  width: 50px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
  justify-content: center;
}

.controls .row.from .icons {
  padding-right: 15px;
  border-right: 1px solid #2e2e3d;
}

.controls .row.to .icons {
  padding-left: 15px;
  border-left: 1px solid #2e2e3d;
}

.controls .row select {
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  background: #1c1c28;
  padding-left: 5px;
}

.text-input textarea::-webkit-scrollbar {
  width: 4px;
}

.controls .row select::-webkit-scrollbar {
  width: 8px;
}

.text-input textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track {
  background: #2e2e3d;
}

.text-input textarea::-webkit-scrollbar-thumb {
  background: #444452;
  border-radius: 8px;
}

.controls .row select::-webkit-scrollbar-thumb {
  background: #444452;
  border-radius: 8px;
  border-right: 2px solid #1c1c28;
}

.controls .exchange {
  color: #444452;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease;
  width: 35px; 
  height: 35px; 
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #fff;
}

.controls i:active {
  transform: scale(0.9);
}

.container button {
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 10px;
  background: #444452;
  transition: background 0.3s ease, transform 0.3s ease;
}

.container button:hover {
   background: #5a5a6d;
}


@media (max-width: 690px) {
  .container {
    width: 500px;
    padding: 15px;
}

.wrapper .text-input {
    flex-direction: column;
}

.text-input .to-text {
    border-left: 0px;
    border-top: 1px solid #2e2e3d;
}

.text-input textarea {
    height: 180px;
    font-size: 16px;
}

.controls .row .icons {
    display: flex;
}

.container button {
    padding: 13px;
    font-size: 16px;
}

.controls .row select {
    font-size: 18px;
}

.controls .exchange {
    font-size: 14px;
  }
}